extends ../layouts/main-layout.pug

block content
    .col-lg-9
        form(action="/login" method="POST")
            .form-group.row
                label(for="email").col-sm-2.col-form-label Email
                .col-sm-10
                    input.form-control#name(type="text" name="email")
            .form-group.row
                .col-sm-10-offset-sm-2
                input(type="submit" value="Save Category").btn.btn-primary
