footer.footer-breakout.py-3(style="background-color: rgba(54, 58, 61, 0.9); backdrop-filter: blur(10px);")
  .container
    .row.align-items-center
      .col-md-6
        h4.text-white.mb-1 TechStore
        small.text-light Explore the latest tech gadgets with us.
      .col-md-6.text-md-end
        .d-flex.justify-content-md-end.justify-content-center.align-items-center.mt-2.mt-md-0
          a.text-white.me-3(href="#" title="Facebook")
            i.fab.fa-facebook.fa-lg
          a.text-white.me-3(href="#" title="Twitter")
            i.fab.fa-twitter.fa-lg
          a.text-white(href="#" title="Instagram")
            i.fab.fa-instagram.fa-lg
    hr.border-light.my-2
    .text-center
      small.text-light &copy; #{new Date().getFullYear()} TechStore. All rights reserved.