.card.shadow-sm
    .card-body
        .input-group
            input#productSearchInput.form-control(type='text' placeholder='Ürün adı...' aria-label='Search products')
            button#searchButton.btn.btn-primary(type='button')
                i.fas.fa-search 