.row.mb-4
                .col-12
                    #mainSlider.carousel.slide(data-bs-ride="carousel")
                        .carousel-inner
                            .carousel-item.active(data-bs-interval="3000")
                                img.d-block.w-100(src="/img/slider1.png" alt="Slider 1")
                            .carousel-item(data-bs-interval="3000")
                                img.d-block.w-100(src="/img/slider2.png" alt="Slider 2")
                            .carousel-item(data-bs-interval="3000")
                                img.d-block.w-100(src="/img/slider3.png" alt="Slider 3")
                            .carousel-item(data-bs-interval="3000")
                                img.d-block.w-100(src="/img/slider4.png" alt="Slider 4")
                            .carousel-item(data-bs-interval="3000")
                                img.d-block.w-100(src="/img/slider5.png" alt="Slider 5")
                            .carousel-item(data-bs-interval="3000")
                                img.d-block.w-100(src="/img/slider6.png" alt="Slider 6")
                            .carousel-item(data-bs-interval="3000")
                                img.d-block.w-100(src="/img/slider7.png" alt="Slider 7")
                            .carousel-item(data-bs-interval="3000")
                                img.d-block.w-100(src="/img/slider8.png" alt="Slider 8")
                        button.carousel-control-prev(type="button" data-bs-target="#mainSlider" data-bs-slide="prev")
                            span.carousel-control-prev-icon(aria-hidden="true")
                            span.visually-hidden Previous
                        button.carousel-control-next(type="button" data-bs-target="#mainSlider" data-bs-slide="next")
                            span.carousel-control-next-icon(aria-hidden="true")
                            span.visually-hidden Next